/* Chart Axes */
.axis text {
  font: 10px sans-serif;
}

.mouse-per-line text {
  font: 11px sans-serif;
  font-style: bold;
}

.x-axis-group.axis path {
  fill: none;
  stroke: rgba(129, 140, 158, 0.5);
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.x-axis-group.axis line {
  stroke: rgba(129, 140, 158, 0.5);
  fill: none;
  stroke-dasharray: 3,3;
  stroke-width: 1px;
}

.y-axis-group-1.axis path {
  stroke: rgba(129, 140, 158, 0.5);
  fill: none;
 /* stroke-dasharray: 3,3;*/
  stroke-width: 1px;
}

.y-axis-group-1.axis line {
  stroke: rgba(129, 140, 158, 0.5);
  fill: none;
  stroke-dasharray: 3,3;
  stroke-width: 1px;
}

.y-axis-group-2.axis path {
  fill: none;
  stroke: none;
  stroke-width: 0;
}

#one .y-axis-group-2.axis text {
  fill: none;
  stroke: none;
}

/* Data */
.timeseries-area .area {
  /*fill: rgba(129, 140, 158, 0.15);
  /*clip-path: url(#clip);*/
  fill: rgba(141, 144, 149, 0.2);
}

.timeseries-line .line {
  fill: none;
  stroke: #aaa;
  /* clip-path: url(#clip); */
  stroke-width: 2;
}

.timeseries-line text {
  font: 11px sans-serif;
}

rect.pane {
  cursor: move;
  fill: none;
  pointer-events: all;
}

/* Annotation */
.annotated-x-axis path {
  stroke: rgba(129, 140, 158, 0.8);
  stroke-width: 1;
  fill: rgba(129, 140, 158, 0.8);
  clip-path: url(#clip);

}

.annotated-x-axis .tick line  {
  fill: none;
  stroke: rgba(129, 140, 158, 0.8);
  stroke-width: 0.2%;
  clip-path: url(#clip);
}

.annotated-x-axis text {
  clip-path: url(#clip);
}

.annotation text {
  font-size: 0.8em;
  fill: #444;
}

.hover-line {
  stroke: #333;
}


