/* Chart Axes */

.barchart .axis text {
  font: 10px sans-serif;
  /*fill: rgba(129, 140, 158, 0.5);;*/
}

.barchart .axis path, .axis line {
  fill: none;
  stroke: rgba(129, 140, 158, 0.5);
  shape-rendering: crispEdges;
}

.barchart .x-axis-group.axis path {
  fill: none;
  stroke: rgba(129, 140, 158, 0.5);
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.barchart .x-axis-group.axis line {
  fill: none;
  stroke: rgba(129, 140, 158, 0.5);
  shape-rendering: crispEdges;
}


