
#usgs-footer{
	position: absolute;
    width: 100%;
    bottom: 0px;
}
#usgs-footer.footer-index{
	position: relative;
}
#usgs-footer{
	position: absolute;
    width: 100%;
    bottom: 0px;
}
#usgsfooter {
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	/*font-size: small;*/
	
	margin-bottom: 2px;
}
#usgsfooterbar {
	background-color: #666666;
	padding: 4px;
	margin-bottom: -16px;
    font-size: 14px;
}
#usgsfooterbar a:link, #usgsfooterbar a:visited {
	margin-right: 40px;
	color: #ffffff;
	text-decoration: none;
}
#usgsfooterbar a:hover {
	margin-right: 40px;
	color: #ffffff;
	text-decoration: underline;
}
#usgsfooterbar a:active {
	margin-right: 40px;
	color: #ffffff;
	text-decoration: none;
}
#usgsfootertext {
	padding: 4px;
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 14px;
}
#usgsfootertext img {
	border: none;
	float: right;
	margin-right: .3em;
}
			
