

<div class="inner">

  <p>
                              <!--<div class="accordion-heading">-->
      <a class = "accordion-toggle download-dropdown" data-toggle="collapse" href="#tabularCollapse" data-parent="#accordion3">
        Tabular Download
      </a>
 </p>
 
 <div class="accordion-body collapse" id="tabularCollapse">
                                                 
  <div id="accordion-toggle" class="test">
 <!-- <h2>Select Variable to Explore</h2>-->

 <!-- <div class="row">-->
  
    <!--<div id="home" class="tab-pane fade in active">-->

    <article class="download-article effect1">
    <div class="download-field field-full">
      <header class="major download-header">
                <h3>Tabular Download</h3>

      </header> 
    </div>
    <section>
     <form class="download-form">
        <div class="download-field field-full">
          <label for="variable">Variable</label>
          <div class="download-wrapper">
            <!--<select name="variable" class="downloadfilters" disabled>
            </select>-->
            <div name="variable" class="downloadfilters" disabled>

            </div>
          </div>
        </div>
       </form>
    </section>
    
    <section>
     <form class="download-form">
        <div class="field-full download-field">
          <label for="scenario">Scenario</label>
          <div>
          <!--  <select class='multiselect downloadfilters' name="scenario" multiple disabled>
            </select>-->
            <div class='downloadfilters' name="scenario">
            </div>
          </div>       
        </div>
        <div class="field-full download-field">
          <label for="variable_detail">Class</label>
          <div>
            <!--<select class='multiselect downloadfilters' id="variableSelect" name="variable_detail" multiple disabled>
            </select>-->
            <div class='downloadfilters' id="variableSelect" name="variable_detail">
            </div>
          </div>
        </div>
       </form>
    </section>
   
    <section>
      <form class="download-form">
        <div class="field-full download-field">
         <label name="secondary_stratum_label" for="secondary_stratum">Island <a id="secStrataOverlayOpen" href="#strata-overlay">(Choose on Map)</a></label>
         

          <div class="select-wrapper download-wrapper">
            <select name="secondary_stratum" class="downloadfilters" disabled>
              
            </select>
          </div>
        </div>
        <div class="field-full download-field">
          <label name="stratum_label" for="stratum">Moisture Zone <a id="strataOverlayOpen" href="#strata-overlay">(Choose on Map)</a></label>
          <div class="select-wrapper download-wrapper">
            <select name="stratum" class="downloadfilters" disabled>
              <option value="All">All</option>
            </select>
          </div>
        </div>
    </section>
    <section>
     <form class='download-form'>
        <div class="field download-field">

          <label for="timestep-begin">Date Begin</label>
           <input name="timestep-begin" type="number" min="2011" max="2100" step="1" value="2011" class="downloadfilters" disabled/> 

        </div>

        <div class="field download-field">
          <label for="timestep-end">Date End</label>
          <input name="timestep-end" type="number" min="2011" max="2100" step="1" value="2011" class="downloadfilters" disabled/> 
        </div>
       
       </form>
      
      </section>
   <!-- <section>
     <form class='download-form'>
        <div class="field-full download-field">
          <label for="iteration_type">Iteration type</label>
          <div class="select-wrapper download-wrapper">
            <select name="iteration_type" class="downloadfilters" disabled>
              <option value="percentile">Percentile</option>
              <option value="single_iteration">Single Iteration</option>
            </select>
          </div>
        </div>
        <div class="field-full download-field" id="iteration1">
          <label for="iteration" id="iteration1Label">Percentile of Iterations</label>
          <input name="iteration" type="number" min="1" max="100" step="1" value="95" class="downloadfilters" disabled/> 
        </div>
         <div class="field download-field" id="iteration2" style="display:none">
          <label for="iteration-end">Iteration End</label>
          <input name="iteration-end" type="number" min="1" max="10" step="1" value="10" class="downloadfilters" disabled/> 
        </div>
       
       </form>
      
      </section>-->
       <form class='download-form'>
        
        <div class="field download-field" id="iteration1">
          <label for="iteration" id="iteration1Label">Iteration Begin</label>
          <input name="iteration" type="number" min="1" max="100" step="1" value="1" class="downloadfilters" disabled/> 
        </div>
         <div class="field download-field" id="iteration2">
          <label for="iteration-end">Iteration End</label>
          <input name="iteration-end" type="number" min="1" max="10" step="1" value="10" class="downloadfilters" disabled/> 
        </div>
       
       </form>
      
      </section>
      <section>
     <form class='download-form'>
        <div class="summaryTools">
           <p class="summaryToolsCollapse">
                              <!--<div class="accordion-heading">-->
                <a class = "summaryToolsCollapseTest accordion-toggle" data-toggle="collapse" href="#summaryToolsCollapse" data-parent="#accordion2">
                  Summary Tools
                </a>
           </p>
           <div class="accordion-body collapse in" id="summaryToolsCollapse">
                                                 
                <div id="accordion-toggle" class="test">
                   
                   
                 
                  <div class="field download-field">
                    <input name="percentile-checkbox" value="100" id="PercentileIteration" type="checkbox">
                    <label for="PercentileIteration">Calculate Percentile of Iterations</label>
                     
                     <!-- <label><input type="checkbox" value="" id="iteration1Label" name="percentile-checkbox">Calculate Percentile of Iterations</label>-->
                     <div>
                      <input name="iteration-percentile" type="number" min="50" max="100" step="1" value="95" class="downloadfilters" disabled/> 
                      </div>
                  </div>
                  <div class="field download-field">
                   
                    <!--<label><input type="checkbox" value="" name="sumby-checkbox">Sum by</label>-->
                    <input name="sumby-checkbox" value="100" id="iteration2Label" type="checkbox">
                    <label for="iteration2Label">Sum By</label>
                    <div class="select-wrapper download-wrapper">
                      <select name="sumby" class="downloadfilters" disabled>
                        
                      </select>
                    </div>
                  </div>
                </div>
                                   
                                           
          </div>
        
        </div>
       
       </form>
      
      </section>
      <section>
        <form class='filterform download-form'>
          <div class="field-full update">
            <input type="submit" value="Download" />
          </div>
       </form>
      
      </section>

  </article>
  
  </div>
</div>
 <p>
                              <!--<div class="accordion-heading">-->
      <a class = "accordion-toggle download-dropdown" data-toggle="collapse" href="#spatialCollapse" data-parent="#accordion4">
        Spatial Download
      </a>
 </p>                
 <div class="accordion-body collapse" id="spatialCollapse">
                                                 
  <div id="accordion-toggle" class="test">
<article class="download-article effect1">
    <div class="download-field field-full">
      <header class="major download-header">
                <h3>Spatial Download</h3>

      </header> 
    </div>
    <section>
     <form class="download-form">
        <div class="download-field field-full">
          <label for="variable">Variable</label>
          <div class="download-wrapper">
            <!--<select name="variable-spatial" class="downloadfilters" disabled>
            </select>-->
            <div name="variable_spatial" class="downloadfilters" disabled>
            </div>
          </div>
        </div>
       </form>
    </section>
    
    <section>
     <form class="download-form">
        <div class="field-full download-field">
          <label for="scenario">Scenario</label>
          <div>
            <!--<select class='downloadfilters' name="scenario-spatial" disabled>
            </select>-->

            <div class='downloadfilters' name="scenario_spatial" disabled>
            </div>
            
          </div>       
        </div>
        <div class="field-full download-field">
          <label for="variable_detail">Layer</label>
          <div>
            <!--<select class='downloadfilters' name="variable_detail-spatial" disabled>
            </select>-->
            <div class='downloadfilters' name="variable_detail_spatial" disabled>
            </div>
          </div>
        </div>
       </form>
    </section>
   
    <section>
      <form class="download-form">
        <div class="field-full download-field">
           <label name="secondary_stratum_spatial_label" for="secondary_stratum">Island <a id="secStrataOverlayOpenSpatial" href="#strata-overlay">(Choose on Map)</a></label>
          <!--<label for="secondary_stratum-spatial">Island <a id="strataoverlayOpen" href="#strata-overlay2">(Choose on Map)</a></label>-->

          <div class="select-wrapper download-wrapper">
            <select name="secondary_stratum-spatial" class="downloadfilters" disabled>
              
            </select>
          </div>
        </div>
        <div class="field-full download-field">
         <label name="stratum_spatial_label" for="stratum">Island <a id="strataOverlayOpenSpatial" href="#strata-overlay">(Choose on Map)</a></label>
         <!-- <label for="stratum-spatial">Moisture Zone <a>(Choose on Map)<a/></label>-->
          <div class="select-wrapper download-wrapper">
            <select name="stratum-spatial" class="downloadfilters" disabled>
              <option value="All">All</option>
            </select>
          </div>
        </div>
    </section>
     <section>
    <form class='download-form'>
        <div class="field download-field">

          <label for="timestep-begin-spatial">Timestep Start</label>
           <input name="timestep-begin-spatial" type="number" min="2011" max="2100" step="1" value="2011" class="downloadfilters" disabled/> 

        </div>
        <div class="field download-field">
          <label for="timestep-end-spatial">Timestep End</label>
          <input name="timestep-end-spatial" type="number" min="2011" max="2100" step="1" value="2011" class="downloadfilters" disabled/> 
        </div>
        <div class="field-full download-field">
          <label for="iteration-spatial">Iteration value</label>
          <input name="iteration-spatial" type="number" min="1" max="100" step="1" value="95" class="downloadfilters" disabled/> 
        </div>
       
       </form>
    </section>
    <section>
     <form class='download-form filterform-spatial'>
        <div class="field-full update">
          <input type="submit" value="Download" />
        </div>
       </form>
      
        </section>
     
      </article>
      </div>
      </div> 
    </div>
    
<!--</div>-->

 
<div id="strataModal" class="modal">
         
          <!-- Modal content -->
          <div class="modal-content">
           <!-- <span class="close">&times;</span>-->
            
             <div id="strata-leaflet"></div>
            
          </div>

 </div>
