<div class="inner">
  <h2>Select Options</h2>
  <section>
    <form>
      <div class="field-full">
        <label for="project">Project ID</label>
        <div class="select-wrapper">
          <select name="project">
          </select>
        </div>       
      </div>
      <div class="field">
        <label for="scenario">Scenario</label>
        <div class="select-wrapper">
          <select name="scenario" disabled>
          </select>
        </div>       
      </div>
      <div class="field">
        <label for="iteration">Iteration</label>
        <input name="iteration" type="number" min="1" max="10" step="1" value="1" disabled/> 
      </div>
      <div class="field">
        <label for="secondary_stratum">Island (Secondary Stratum)</label>
        <div class="select-wrapper">
          <select name="secondary_stratum" disabled>
          </select>
        </div>
      </div>
      <div class="field">
        <label for="stratum">Moisture Zone (Stratum)</label>
        <div class="select-wrapper">
          <select name="stratum" disabled>
            <option value="All">All</option>
          </select>
        </div>
      </div>
      <div class="field-full">
        <input type="submit" value="Update" />
      </div>
    </form>
    <div class="vis-list inline-list">
      <ul>
        <li><a data-scroll href="#one" >Change in Landuse over Time</a></li>
        <li><a data-scroll href="#two" >Total Area &amp; Net Change</a></li>
        <li><a data-scroll href="#three" >Transition Types &amp; Pathways</a></li>
      </ul>
    </div>
  </section>
</div>