<article class="col half">
<div class="inner">
  <section>
      <div class="inner">
              <h5>Layer Controls</h>
              
      </div>
  </section>
  <section>
   <form class="mapform">
      <div class="form-group field-map-filter">
        <label for="year" class="control-label" >Year:</label>
        <input class="mapfilters" id="test" name="year" type="number" min="2011" max="2061" step="1" value="2011" disabled/> 
      </div>
      <div class="form-group field-map-filter">
        <label for="mapscenario" class="control-label" >Scenario:</label>
        <div class="select-wrapper mapselect-wrapper">
          <select class="mapfilters" name="mapscenario" disabled>
          </select>
        </div>       
      </div>
       <div class="form-group field-map-filter">
        <label for="iteration" class="control-label" >Iteration:</label>
        <input class="mapfilters" name="iteration" type="number" min="1" max="10" step="1" value="1" disabled/> 
      </div>
      <div class="form-group field-map-filter">
        <label for="maplayer" class="control-label" >Layer:</label>
        <div class="select-wrapper mapselect-wrapper">
          <select class="mapfilters" name="maplayer" disabled>
          </select>
        </div>       
      </div>
      <div class="form-group field-map-filter">

        <div class="accordion-heading">
          <a class = "legendcollapsenametext accordion-toggle" data-toggle="collapse" href="#collapseExample" data-parent="#accordion2">
            Show map legend
          </a>
          
        </div>
        <div class="collapsedivs accordion-body collapse in" id="collapseExample">
               
             <div class="legend-stateclass-all accordion-toggle"></div>                 
        <!-- <div id="legends">
         
             <div class="inline legend-stateclass legend-section1"></div>
            <div class="inline legend-scenario"></div>
          </div>-->
                               
                                       
        </div>

      </div>
     </form>
  </section>
</div>
</article> 
